@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* ---------------Tailwind Css--------------- */
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* ---------------Themes--------------- */
@theme{
  --font-manrope: "Manrope", "sans-serif";
  --color-brand: #6366F1;
  --color-success: #22C55E;
  --color-gray900: #131022;
  --color-gray800: #3E4265;
  --color-gray700: #585C7B;
  --color-gray600: #9397AD;
  --color-gray500: #B4B7C9;
  --color-gray400: #D4D7E5;
  --color-gray300: #E2E5F1;
  --color-gray200: #EFF2FC;
  --color-gray100: #F3F6FF;
}